/* Layout */
.wrapper{
    min-height: calc(100vh - 70px);
    position: relative;
    display: flex;
    flex-direction: column;
}
.nav{
    background-color: #f5f7ff;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 6px 1px 6px #1e2029;
    z-index: 10;
}
.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
/* Footer */
.footer{
    background-color: #f5f7ff;
    height: 60px;
    margin-top: auto;
    width: 100%;
    z-index: 10;
}
.footer_content{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: auto 30px;
}

/* Users Page */
.user_page{
    margin: 20px 50px;
    position: relative;
}
.userlists{
    background-color: #f5f7ff;
    width: 100%;
    padding: 20px;
    border-left: 4px solid deepskyblue;
    display: flex;
    flex-direction: column;
    margin-top:30px;
}

/* 404 Page */
.error{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 80vh;
}
.error_button{
    padding: 20px;
    border: none;
    background-color: #f5f7ff;
}
.error_details{
    text-align: center;
}

/* Each Users */
.eachUser{
    display: flex;
    align-items: center;
    justify-content: center;
}
.anime_images{
    margin-right: 40px;
}


@media screen and (min-width:640px){
    .nav_content{
        display: inline-flex;
        width: 50%;
        justify-content: space-evenly;
        align-items: center;
    }
}
@media screen and (max-width:460px){
    .footer_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}